#Carousel{
    margin-top: 50%;
    height: 20%;
    
}

#img {
    max-width: 57.5%;
    width: 170px 170px
}
#Customers {
    color: #333333;
    text-decoration: underline;
    text-decoration-color: #EB6133;
    font-size: 3rem;
    font-family: helvetica-neue-light;
    justify-content: center;
   }

   #description {
       font-size: 14px;
   }

   #nextArrow {
    color: orange;
    position: relative;
       bottom: 75px;
       left: 1350px;
       max-width: 100%;
       width: 150px 150px;
       background-color: #EB6133;
       padding: 15px 10px;
   }
   #prevArrow {
       max-width: 100% ;
       width: 150px 150px;
   }
   #name {
       position: relative;
       left: 50px;
       font-weight: bold;
       font-family: helvetica-neue;
      

   }
   #priceFormat {
    font-size: 2.4rem;
    vertical-align: top;
    line-height: 40px;
    margin: 0 2px;
   }

   #desc {
    position: relative;
    top: 20px;
   }

   .product-price-small {
	font-size: 1.0rem;
    vertical-align: top;
    line-height: 40px;
    margin: 0 2px;
}