#img {
    max-width: 57.5%;
    width: 170px 170px
}
h2 {
    color: #333333;
    text-decoration: underline ;
    text-decoration-color: #EB6133;
    font-size: 3rem;
    font-family: helvetica-neue-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    font-weight:400;
    padding: 0px 0px 3px;
   }


   #description {
       font-size: 14px;
   }

   #nextArrow {
 color:#ffffff;
    position: relative;
       bottom: 155px;
       left: 1350px;
       max-width: 140%;
       width: 110px 110px;
       background-color: #ffffff;
       /* padding: 15px 10px; */
       border: .5px solid #CCCCCC;
       height: 100px;
       width: 2.5%;
   }
   #prevArrow {
       max-width: 100% ;
       width: 150px 150px;
   }
   #name {
       position: relative;
       left: 50px;
       font-weight: bold;
       font-family: helvetica-neue;
      

   }
   #priceFormat {
    font-family: helvetica-neue-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    vertical-align: top;
    line-height: 40px;
    margin: 0 2px;
   }

   /* #desc {
    position: relative;
    top: 20px;
   } */

   .product-price-small {
	font-size: 1.0rem;
    vertical-align: top;
    line-height: 40px;
    margin: 0 2px;
}
.product-price-large {
	align-self: auto;
    font-size: 2.5rem;
    bottom: 400px;
    left: 50px;
    /* vertical-align: top; */
    /* line-height: 40px; */
    /* margin: 0 2px; */
}
#button {
    display: inline-block;
    border-color: #EB6133;
    box-sizing: border-box;
    border-width: 2px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    color: #EB6133;
    font-family: helvetica-neue-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#line {
    border-top: 1px solid #CCCCCC;
}