.mainBody{
    background-color: white;
     padding: 0px;
     margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
 }
 
 .plus{
     font-family: helvetica-neue,Helvetica Neue,Helvetica,Arial,sans-serif;
     margin: 0 40px;
     font-size: 15px;
     font-weight: 400;
     margin-bottom: 10px;
 }
 
 .fbt{
     font-size: 30px;;
     font-family: helvetica-neue-light,Helvetica Neue,Helvetica,Arial,sans-serif!important;
     color: #333;
     font-weight: 300;
     border-bottom: 4px solid #f96302;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgb(249, 99, 2);
     padding: 0;
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
 }
 
 
 
 .fbtProductImage {
     vertical-align: middle;
     max-width: 200%; 
 
 }
 #row{
     content: "";
     clear:both;
     display: flex;
     padding: 0mm;
     
 }
 
 .column{
     float: none;
     padding: 00px;
     width: 500px;  
 }
 .fbtProductImage{
     vertical-align: middle;
     max-width: 100%;
 }
 .comPrice{
     font-weight: 700;
     font-size: 30px;
 }
 
 .button{
     
     display: flex;
     align-self: auto;
     color: #f96302;
     width: 100%;
     height: 40px;
     font-size: 14px;
     background-color: #fff;
     text-shadow: none;
     text-decoration: none;
     text-align: center;
     cursor: pointer;
     line-height: 1em;
     box-sizing: border-box;
     border: 2px solid #f96302;
     padding: 10px;
     font-family: helvetica-neue;
 }
 .plus{
     font-weight: 900;
     font-size: 50px;
     padding-top: 40px;
 }
 .priceBlock{
    padding-left: 50px;
 }
 .fbtAtcPrice__dollar{
     font-size: 40px;
 
 }
 .fbtAtcPrice__currency{
     padding-bottom: 20px;
     font-size: 20px;
     font-weight: 900;
     vertical-align: top;
     
 }
 .fbtAtcPrice__cents{
     font-weight: 900;
     font-size: 20px;
     padding-bottom: 1px;
     vertical-align: top;
 }
 .fbtProductLines{
     margin-top: 0;
     overflow: hidden;
     overflow-x: hidden;
     overflow-y: hidden;
     padding-bottom: 10px;
    
     
 
 }
 
 .fbtProductLine{
     margin-top: 13px;
     padding-top: 5px;
     
 }
 
 #fbtContainer .fbt__content #fbtProductLines .fbtProductLine .fbtProdDescription {
     color: #333;
     font-size: 1.4rem;
     font-weight: 400;
 }
 
 .fbt__content .checkbox-btn__label:before {
     top: 50%;
     margin-top: -6px;
 }