.main {
  width: 100%;
  display: flex;
}
.small {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.small img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.big {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.big img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* .small {
  display: flex;
  flex-direction: column;
  float: left;
  border-image-width: auto;
} */
/* .big {
  width: 20%;
  flex-direction: row;
  height: auto;
} */
/* img {
    float: left;
    width: 25%;
    padding: 0px;
  }  */
/*   
 img:after {
    content: "";
    display: table;
    clear: both;
  }  */